/* CODE-BASIC BLOCK */
#code{
    /* white-space: pre; */
    /* font-size: 1.5em; */
    /* color: #282c34; */
    color: rgb(21, 138, 255) ;
    z-index: -5;
    position: absolute;
    float: left;

    /* LINES */
    background: -webkit-linear-gradient(left, white, white 3.5%, var(--mygrey) 3.5%, var(--mygrey) 3.6%,
     white 3.6%, white 81.5%, var(--mygrey) 81.5%, var(--mygrey) 81.7%, white 81.7%, white);
    border: 3px solid var(--mygrey);
    /* background-color: white; */
    border-radius: 35px;
    padding-left: 1.3em;
    margin-left: 0.8em;
    width: 99%;
    /* padding-bottom: 1%; */
    /* opacity: 80%; */
    /* padding-bottom: 0; */
}

/*END CODE-BASIC BLOCK */


/* LEFT-CODE- NUMBERS ON LINES */
#left-code{
    float: left;
    position: relative;
    /* background-color: var(--mygrey); */
    background-color: white;
    /* background: -webkit-linear-gradient(left,white, white 10%,var(--mygrey) 10%, var(--mygrey)); */
    width: 2%;
    overflow: hidden;
    z-index: -10;
    /* border-right: 3px solid var(--mygrey); */

}

#left-code>ul{
    padding-left: 0.7em;
    padding-right: 2.7em;
    list-style-type: none;
    padding-left: 0;
}

#left-code>ul>li{
    width: 1.2em;
    padding-bottom: 1px;
    list-style-type: none;
    text-align: right !important ;
}
/*END LEFT-CODE- NUMBERS ON LINES */


/* RIGHT-CODE- TYPEWRITER */
#right-code{
    float: left;
    position: relative;
    /* background-color: lavenderblush; */
    padding-left: 1em;
    overflow: hidden;
}

#right-code>ul{
  
    list-style-type: none;
    padding-left: 0;
}
#right-code>ul>pre{
    overflow: visible;
    line-height: 110.05%;
    margin-bottom: 0;
}
/* END RIGHT-CODE- TYPEWRITER */


/* TYPEWRITER COLORS AND CONTENT */
.purp-highlight{
color:   #c678dd;
}
.console.purp-highlight::before{
  content: '>>> ';
  color: var(--myblue);
}
.string-highlight{
	color: #98c379;
}
.lt.string-highlight::before{
  content: '"<';
	color: #98c379;
}
.pt::before{
  content: 'We are the knights who say "Ni!"';
  color: #282c34
}
.pt-2::before{
  content: 'Hello World...';
  color: #282c34
}
.pt-error-1::before{
  content: 'File';
  color: #c678dd;
}
.pt-error-2::before{
  content: '"<stdin>"';
  color: #c678dd;
}
.pt-error-3::before{
  content: ', line';
  color: #282c34;
}
.pt-error-4::before{
  content: ' 1';
  color: #e06c75;
}
.pt-error-5::before{
  content: 'SyntaxError:';
  color: #c678dd;
}
.pt-error-6::before{
  content: ' not a chance';
  color: #282c34;
}
.lt.string-highlight::after{
  content: '>"';
	color: #98c379;
}
.blue-highlight{
  color:#61aeee;
}
.red-highlight{
  color: #e06c75;
}

#typewriter.start{
		margin: 0;
		font-family: "Courier New";
}

#typewriter:after{
			content: "|";
			animation: blink 500ms linear infinite alternate;
		}

@-webkit-keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@-moz-keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
/* END TYPEWRITER COLORS AND CONTENT */





/* MEDIA-OTHER SCREENS */

@media(max-width:1260px){
  #left-code{
    padding-right: 8% !important;
    margin-right : 8% !important;
  }
  #typewriter{
    visibility: hidden;
  }
  .holder {
    margin-left:25% !important; 
  }
  .container{
    margin-right:10% !important;
  }
  #what{
    margin-left:15% !important;
  }
  .do-li{
    width: 70%;
  }
}
/* END MEDIA-OTHER SCREENS */

