p{
base:    #282c34;
mono-1:  #abb2bf;
mono-2:  #818896;
mono-3:  #5c6370;
hue-1:   #56b6c2;
hue-2:   #61aeee;
color:   #c678dd;
hue-4:   #98c379;
hue-5:   #e06c75;
hue-5-2: #be5046;
hue-6:   #d19a66;
hue-6-2: #e6c07b;
}